<div class="milestone-form-field">
	<div>
		<%= form_for [@user, @milestone], html: { class: 'update-form' } do |f| %>
			<% if @milestone.completed != true %>
				<%= f.label 'Name: ' %>
				<%= f.text_field :name %>
				<%= f.label 'Mark Complete?' %>
				<%= f.check_box(:completed) %>
				<%= f.label 'Due date: ' %>
				<%= f.date_field :due %> <br />

				<%= f.submit 'Update this Milestone' %>
			<% end %>
		<% end %>
		<br />
		<%= form_for [@user, @milestone], html: { class: 'update-form' } do |f| %>
			<%= f.hidden_field :remove, :value => true %>
			<%= f.submit 'Remove this Milestone' %>
		<% end %>
	</div>
</div>
