<%= form_for [@user, @recurring_goal] do |f| %>

  <div class="field">
    <%= f.label :"Name of new Goal" %><br />
    <%= f.text_field :name, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create Daily Goal" %>
  </div>
<% end %>

<h1>Current Goals</h1>
<hr>

<% @user.recurring_goals.each do |goal| %>
  <h4><%= goal.name %></h4>
  <div class="field">
    <h6> Status: <%= goal.completed ? "Complete" : "Incomplete" %> </h6>
    <% if goal.completed == false %>
    <a href="/users/<%= current_user.id %>/recurring_goals/<%= goal.id %>/">
      Complete
    </a>
    <% end %>
  </div>
<% end %>
