<div class="container">
	<h2><%= @user.name %></h2>
</div>

<div class="container">
	<h3>Recurring Goals</h3>
	<div class="card">
		<div class="row">
			<div class="repeating-goals col-sm-12">
				<div class="row">
					<button class="col-sm-4 select-goal-type daily selected">Daily</button>
					<button class="col-sm-4 select-goal-type weekly">Weekly</button>
					<button class="col-sm-4 select-goal-type monthly">Monthly</button>
				</div>
				<%= render partial: 'recurring_goals', locals: {user: @user, goal_type: 'daily', hidden: ''} %>
				<%= render partial: 'recurring_goals', locals: {user: @user, goal_type: 'weekly', hidden: 'hidden'} %>
				<%= render partial: 'recurring_goals', locals: {user: @user, goal_type: 'monthly', hidden: 'hidden'} %>
			</div>
		</div>
	</div>
	<% if @user.id == current_user.id %>
		<%= form_for [@user, @recurring_goal] do |f| %>

			<div class="field">
				<h4>Add Goal</h4>
				<%= f.label :"Name of new Goal" %><br />
				<%= f.text_field :name, required: true %>
				<%= f.select :goal_type, ["Daily", "Weekly", "Monthly"] %>
			</div>

			<div class="actions">
				<%= f.submit "Create Daily Goal" %>
			</div>
		<% end %>
	<% end %>
</div>

<hr />
<div class="container">
	<h3> Current Milestone Tracks </h3>
	<% @user.milestone_tracks.each do |track| %>
		<%= render partial: 'milestone_tracks/milestone_tracks', locals: {track: track} %>
	<% end %>
</div>
<!-- Script for showing and displaying Milestones -->
<script>
	positionMilestones();
</script>

<script>
	recurringGoals(<%= @user.id %>);
</script>
