<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid top-navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">GoalKeeper</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><a>
					Hello <%= current_user.name %>
				</a><li>
				<li>
					<%= link_to(destroy_user_session_path, :method => :delete) do %>
						Sign Out<span class="glyphicon glyphicon-log-out after-text-glyph"></span>
					<% end %>
				</li>
			<% else %>
				<li>
					<%= link_to('Sign in', new_user_session_path)  %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<% if user_signed_in? %>
				<li><a href="/users/<%= current_user.id %>" >Home</a><li>
	    		<li><a href="/users/<%= current_user.id %>/milestone_tracks">Milestones</a></li>
	    		<li><a href="#">Supporters (Coming Soon!)</a></li>
			<% end %>
		</ul>
	</div>
</nav>
