<div class="container">
	<% @user.milestone_tracks.each do |track| %>
		<%= render partial: 'milestone_tracks', locals: {track: track} %>
		<%= render partial: 'milestone_tracks_add_milestones', locals: {track: track} %>
	<% end %>

<hr />

<%= form_for [@user, @milestone_track] do |f| %>
	<div class="field">
		<%= f.label :"Name of new Milestone track" %><br />
		<%= f.text_field :name, required: true %><br />
		<%= f.label :"Number you want to reach: " %>
		<%= f.number_field :numeric_value, :value => 0 %>
		<br />
		<%= f.submit "Create new track" %>
	</div>
<% end %>
</div>

<!-- Script for showing and displaying Milestones -->
<script>
	milestones();
	positionMilestones();
	addProgress();
</script>
